.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-tabs {
  border-bottom-width: var(--bs-border-width);
  border-bottom-color: var(--bs-border-color);
  border-bottom-style: solid;
  border-radius: var(--bs-border-radius);
}

.nav-tabs .nav-link:hover {
  border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
}

.nav-tabs .nav-link.active {
  color: var(--bs-emphasis-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
}

/* Container for the navigation tabs */
.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 20px; /* Add some space below the navigation tabs */
  padding-left: 0;
}

/* Individual navigation tab styles */
.nav-link {
  padding: 10px 15px; /* Increase padding for better touch interaction */
  font-weight: bold; /* Make the font weight bold */
  color: var(--bs-link-color);
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s ease; /* Add smooth transition for color change */
}

.nav-link:hover,
.nav-link:focus {
  color: var(--bs-link-hover-color); /* Change color on hover/focus */
}

.nav-link:disabled {
  color: var(--bs-secondary-color); /* Style disabled links */
}

/* Active tab styles */
.nav-link.active {
  color: var(--bs-emphasis-color); /* Change color for active tab */
  border-bottom: 3px solid var(--bs-emphasis-color); /* Add bottom border for active tab */
}
